<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
            <title>SWay Explore Page</title>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="jumbotron">
            <h1 class="display-2" style="text-align: center;"><u> SWay Explore</u></h1>
            <p class="lead" style="text-align: center;">Welcome to the SWay Explore page</p>
            <hr class="my-4">
            <a href="index.html">
                <button type="button" class="btn btn-primary btn-lg" id="index-btn">Explore</button>
            </a>
            <a href="login_page.html">
                <button type="button" class="btn btn-primary btn-lg" id="login-btn" style="margin-right: 10px;">Login</button>
            </a>
            
          </div>

          <div class="container">
              <div class="col-12" style="text-align: center;">
                <h3>Select your Start Station:</h3>
                <div class="btn-group">
                  <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="Startbtn">
                    Large button
                  </button>
                  <div class="dropdown-menu">
                </div>
              </div>
              <h3>Select your End Station:</h3>
            <div class="dropdown">
                <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="Endbtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
          
              </div>
          </div>
          
          <div class="container">
            <div class="col-12">
              <table class="table table-bordered" id="TrainScdle">
                <thead>
                  <tr>
                    <th scope="col">Train</th>
                    <th scope="col">Start Destination:</th>
                    <th scope="col">End Destination:</th>
                    <th scope="col">Business</th>
                    <th scope="col">Incident</th>
                    <th scope="col">Incident Report(Comments)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>2</td>
                    <td>2</td>
                    <td>2</td>
                    <td>2</td>
                    <td>2</td>
                    
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>


            </div>
          </div>
    </body>

</html>