<!DOCTYPE html>
<html>
    <head>
        <title>SWay Welcome Page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="jumbotron">
            <h1 class="display-2" style="text-align: center;"><u>Welcome to SWay</u></h1>
            <p class="lead" style="text-align: center;">Welcome to the SWay home page</p>
            <hr class="my-4">
            <a href="index.html">
                <button type="button" class="btn btn-primary btn-lg" id="index-btn" style="padding: 100px;">Explore</button>
            </a>
            <a href="login_page.html">
                <button type="button" class="btn btn-primary btn-lg float-right" id="login-btn" style="margin-right: 10px; padding: 100px;">Login</button>
            </a>
            
          </div>
    </body>
</html>